* {
  box-sizing: border-box;
}

:root {
  --background: #000;
  --foreground: #fff;

  --page-padding-mobile: 24px;
  --page-padding-desktop: 48px;

  --font-size-small: 12px;
  --font-size-body: 16px;

  --line-height-body: 1.45;

  --border-width: 1px;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  padding: 0;

  background: var(--background);
  color: var(--foreground);

  font-family: Helvetica, sans-serif;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}